<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>车辆需求编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <div class="layui-form-item">
            <label for="org_id" class="layui-form-label">
                <span class="we-red">*</span>车主
            </label>
            <div class="layui-input-inline">
                <select name="orgId" id="org_id"   lay-verify="required" lay-filter="level-select">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_province" class="layui-form-label">
                <span class="we-red">*</span>始发省
            </label>
            <div class="layui-input-inline">
                <select name="startProvince" lay-verify="required" lay-filter="start_province" id="start_province">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_city" class="layui-form-label">
                <span class="we-red">*</span>始发市
            </label>
            <div class="layui-input-inline">
                <select name="startCity" lay-verify="required" id="start_city" lay-filter="start_city">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_county" class="layui-form-label">
                <span class="we-red">*</span>始发县
            </label>
            <div class="layui-input-inline">
                <select name="startCounty" lay-verify="required" id="start_county" lay-filter="start_county">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_addr" class="layui-form-label">
                <span class="we-red">*</span>始发地址
            </label>
            <div class="layui-input-inline">
                <input type="text" name="startAddr" id="start_addr" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                乡镇（街道）-村（社区）-楼号-门牌号
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_province" class="layui-form-label">
                <span class="we-red">*</span>终点省
            </label>
            <div class="layui-input-inline">
                <select name="endProvince" lay-verify="required" lay-filter="end_province" id="end_province">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_city" class="layui-form-label">
                <span class="we-red">*</span>终点市
            </label>
            <div class="layui-input-inline">
                <select name="endCity" lay-verify="required" id="end_city" lay-filter="end_city">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_county" class="layui-form-label">
                <span class="we-red">*</span>终点县
            </label>
            <div class="layui-input-inline">
                <select name="endCounty" lay-verify="required" id="end_county" lay-filter="end_county">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_addr" class="layui-form-label">
                <span class="we-red">*</span>终点地址
            </label>
            <div class="layui-input-inline">
                <input type="text" name="endAddr" id="end_addr" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                乡镇（街道）-村（社区）-楼号-门牌号
            </div>
        </div>
        <div class="layui-form-item">
            <label for="departure_date" class="layui-form-label">
                <span class="we-red">*</span>预计发车时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="departure_date" name="departureDate" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="departure_time" class="layui-form-label">
                发车时段
            </label>
            <div class="layui-input-inline">
                <input type="text" id="departure_time" name="departureTime"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                如：10:00--13:00点
            </div>
        </div>
        <div class="layui-form-item">
            <label for="car_type" class="layui-form-label">
                <span class="we-red">*</span>车型
            </label>
            <div class="layui-input-inline">
                <select name="carType" id="car_type"  lay-filter="level-select" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="car_length" class="layui-form-label">
                <span class="we-red">*</span>车长
            </label>
            <div class="layui-input-inline">
                <input type="text" id="car_length" name="carLength" required="" lay-verify="number|required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                m
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="we-red">*</span>货品名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required|name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="weight" class="layui-form-label">
                货品重量
            </label>
            <div class="layui-input-inline">
                <input type="text" id="weight" name="weight" lay-verify="number" value="0"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                吨
            </div>
        </div>
        <div class="layui-form-item">
            <label for="volume" class="layui-form-label">
                货品体积
            </label>
            <div class="layui-input-inline">
                <input type="text" id="volume" name="volume" lay-verify="number" value="0"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                m³
            </div>
        </div>
        <div class="layui-form-item">
            <label for="goods_packing" class="layui-form-label">
                货品包装
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_packing" name="goodsPacking"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="goods_spec" class="layui-form-label">
                货品规格
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_spec" name="goodsSpec"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="single_max_weight" class="layui-form-label">
                单件最大重量
            </label>
            <div class="layui-input-inline">
                <input type="text" id="single_max_weight" name="singleMaxWeight" lay-verify="number" value="0"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                kg
            </div>
        </div>
        <div class="layui-form-item">
            <label for="single_spec" class="layui-form-label">
                单件最大规格
            </label>
            <div class="layui-input-inline">
                <input type="text" id="single_spec" name="singleSpec"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="num" class="layui-form-label">
                货物数量
            </label>
            <div class="layui-input-inline">
                <input type="text" id="num" name="num" lay-verify="number" value="0"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                个
            </div>
        </div>
        <div class="layui-form-item">
            <label for="val" class="layui-form-label">
                货值
            </label>
            <div class="layui-input-inline">
                <input type="text" id="val" name="val" lay-verify="number" value="0"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                元
            </div>
        </div>
        <div class="layui-form-item">
            <label for="max_freight" class="layui-form-label">
                最高运费
            </label>
            <div class="layui-input-inline">
                <input type="text" id="max_freight" name="maxFreight" lay-verify="number" value="0"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                元
            </div>
        </div>
        <div class="layui-form-item">
            <label for="timeLimit" class="layui-form-label">
                要求时限
            </label>
            <div class="layui-input-inline">
                <select name="timeLimit" lay-verify="required" id="timeLimit" lay-filter="timeLimit">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="line_type" class="layui-form-label">
                线路类型
            </label>
            <div class="layui-input-inline">
                <select name="lineType" lay-verify="required" id="line_type" lay-filter="line_type">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="we-red">*</span>状态
            </label>
            <input type="radio" id="status1" name="status" value="1" title="启用">
            <input type="radio" id="status0" name="status" value="0" title="禁用">
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn" id="editForm" lay-filter="editForm" lay-submit="">保存</button>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }
        });

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url: "/bu/carTransportRelease/getById?id=" + id,
                    type: 'GET',
                    dataType: "json",
                    success: function (re) {
                        if (re.code == 200) {
                            form.val("showForm", re.data);
                            //渲染单选框
                            var status = re.data.status;
                            if (status != undefined && status > 0) {
                                document.getElementById("status1").checked = true;
                            } else {
                                document.getElementById("status0").checked = true;
                            }
                            //下拉列表默认值
                            initFunction.getSelectList(true,form,'/org/getList','org_id',re.data.orgId);
                            initFunction.getDictSelectList(true,form,'CAR_TYPE' ,'car_type',re.data.carType);
                            initFunction.getDictSelectList(true,form,'LINE_TYPE' ,'line_type',re.data.lineType);
                            //时间处理
                            initFunction.initLayDate('departure_date','yyyy-MM-dd');
                            //区域下拉列表 省
                            initFunction.getSelectAreaTree(true,form, 'start_province', {level: "1"}, re.data.startProvince);
                            initFunction.getSelectAreaTree(true,form, 'start_city', {
                                level: "2",
                                pid: re.data.startProvince
                            }, re.data.startCity);
                            initFunction.getSelectAreaTree(true,form, 'start_county', {
                                level: "3",
                                pid: re.data.startCity
                            }, re.data.startCounty);
                            //区域下拉列表 省
                            initFunction.getSelectAreaTree(true,form, 'end_province', {level: "1"}, re.data.endProvince);
                            initFunction.getSelectAreaTree(true,form, 'end_city', {
                                level: "2",
                                pid: re.data.endProvince
                            }, re.data.endCity);
                            initFunction.getSelectAreaTree(true,form, 'end_county', {
                                level: "3",
                                pid: re.data.endCity
                            }, re.data.endCounty);
                            form.render();
                        } else {
                            layer.msg(re.msg);
                        }
                    }
                });
            }
        }

        //监听提交
        form.on('submit(editForm)', function (data) {
            $.ajax({
                url: '/bu/carTransportRelease/save',
                type: 'POST',
                data: data.field,
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg('保存成功', {
                            icon: 6,
                            time: 1500
                        }, function () {
                            parent.layui.table.reload('carTransportReleaseTable', {page: {curr: 1}});
                            // 获得frame索引
                            //关闭当前frame
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layer.msg(result.msg);
                    }
                }
            });
            return false;
        });
    });

    //始发区域
    form.on('select(start_province)', function (data) {
        initFunction.getSelectAreaTree(true,form, 'start_city', {level: "2", pid: data.value});
        $("#start_county").empty();
        $("#start_city").empty();
    });
    form.on('select(start_city)', function (data) {
        initFunction.getSelectAreaTree(true,form, 'start_county', {level: "3", pid: data.value});
        $("#start_county").empty();
    });
    //终点区域
    form.on('select(end_province)', function (data) {
        initFunction.getSelectAreaTree(true,form, 'end_city', {level: "2", pid: data.value});
        $("#end_county").empty();
        $("#end_city").empty();
    });
    form.on('select(end_city)', function (data) {
        initFunction.getSelectAreaTree(true,form, 'end_county', {level: "3", pid: data.value});
        $("#end_county").empty();
    });
</script>
</body>
</html>