<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>车辆线路发布查看</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <div class="layui-form-item">
            <label for="start_county" class="layui-form-label">
                车主
            </label>
            <div class="layui-input-inline">
                <input type="text" name="orgName" id="org_id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_county" class="layui-form-label">
                车型
            </label>
            <div class="layui-input-inline">
                <input type="text" name="carType" id="carType" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_county" class="layui-form-label">
                车牌
            </label>
            <div class="layui-input-inline">
                <input type="text" name="licensePlate" id="licensePlate" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_province" class="layui-form-label">
                始发省
            </label>
            <div class="layui-input-inline">
                <input type="text" name="startProvinceName" id="start_province" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_city" class="layui-form-label">
                始发市
            </label>
            <div class="layui-input-inline">
                <input type="text" name="startCityName" id="start_city" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_county" class="layui-form-label">
                始发县
            </label>
            <div class="layui-input-inline">
                <input type="text" name="startCountyName" id="start_county" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_addr" class="layui-form-label">
                始发地址
            </label>
            <div class="layui-input-inline">
                <input type="text" name="startAddr" id="start_addr" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                乡镇（街道）-村（社区）-楼号-门牌号
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_province" class="layui-form-label">
                终点省
            </label>
            <div class="layui-input-inline">
                <input type="text" name="endProvinceName" id="end_province" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_city" class="layui-form-label">
                终点市
            </label>
            <div class="layui-input-inline">
                <input type="text" name="endCityName" id="end_city" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_county" class="layui-form-label">
                终点县
            </label>
            <div class="layui-input-inline">
                <input type="text" name="endCountyName" id="end_county" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_addr" class="layui-form-label">
                终点地址
            </label>
            <div class="layui-input-inline">
                <input type="text" name="endAddr" id="end_addr" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                乡镇（街道）-村（社区）-楼号-门牌号
            </div>
        </div>
        <div class="layui-form-item">
            <label for="departure_date" class="layui-form-label">
                预计发货时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="departure_date" name="departureDate"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="departure_time" class="layui-form-label">
                发车时段
            </label>
            <div class="layui-input-inline">
                <input type="text" id="departure_time" name="departureTime"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="line_type" class="layui-form-label">
                线路类型
            </label>
            <div class="layui-input-inline">
                <input type="text" id="line_type" name="lineTypeName"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url:"/bu/releaseLine/getById?id=" + id,
                    type: 'GET',
                    dataType : "json",
                    success: function (re) {
                        if (re.code == 200) {
                            form.val("showForm", re.data);
                            //加载车辆下拉列表
                            $.ajax({
                                url: '/bu/car/getList',
                                type: 'GET',
                                data:{},
                                dataType : "json",
                                success: function (result) {
                                    if (result.code == 200 && result.data != null) {
                                        var data = result.data, html = '<option value="">请选择</option>';
                                        $('#car_id').empty();
                                        data.forEach(function (item) {
                                            html += ' <option value="' + item.id + '"';
                                            if (re.data.carId != undefined && item.id == re.data.carId) {
                                                html += ' selected="selected" ';
                                            }
                                            html += '>'+ item.orgName + " - "+item.carTypeName + " - "+ item.licensePlate + '</option>';
                                        });
                                        $('#car_id').append(html);
                                        form.render('select');
                                    } else {
                                        layer.msg(result.msg);
                                    }
                                }
                            });
                            //类型下拉列表
                            initFunction.getDictSelectList(true,form,'LINE_TYPE' ,'line_type',re.data.lineType);
                            //区域下拉列表 省
                            initFunction.getSelectAreaTree(true,form, 'start_province', {level: "1"}, re.data.startProvince);
                            initFunction.getSelectAreaTree(true,form, 'start_city', {
                                level: "2",
                                pid: re.data.startProvince
                            }, re.data.startCity);
                            initFunction.getSelectAreaTree(true,form, 'start_county', {
                                level: "3",
                                pid: re.data.startCity
                            }, re.data.startCounty);
                            //区域下拉列表 省
                            initFunction.getSelectAreaTree(true,form, 'end_province', {level: "1"}, re.data.endProvince);
                            initFunction.getSelectAreaTree(true,form, 'end_city', {
                                level: "2",
                                pid: re.data.endProvince
                            }, re.data.endCity);
                            initFunction.getSelectAreaTree(true,form, 'end_county', {
                                level: "3",
                                pid: re.data.endCity
                            }, re.data.endCounty);
                            form.render();
                        } else {
                            layer.msg(re.msg);
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>