<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>租赁订单查看</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body" >
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <div class="layui-form-item">
            <label for="warehouse_id" class="layui-form-label">
                仓主
            </label>
            <div class="layui-input-inline">
                <input type="text" id="warehouse_id" name="warehouseName" lay-verify="" readonly="true"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="orgId" class="layui-form-label">
               货主
            </label>
            <div class="layui-input-inline">
                <input type="text" id="orgId" name="orgName" lay-verify="" readonly="true"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="seeWarehouseId" class="layui-form-label">
                看库记录
            </label>
            <div class="layui-input-inline">
                <input type="text" id="seeWarehouseId" name="seeWarehouseName" lay-verify="" readonly="true"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="create_date" class="layui-form-label">
                下单时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="create_date" name="createDate" lay-verify=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_rent_date" class="layui-form-label">
                起租时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="start_rent_date" name="startRentDate" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="end_rent_date" class="layui-form-label">
                结束时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="end_rent_date" name="endRentDate"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="shipto_date" class="layui-form-label">
                运抵时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="shipto_date" name="shiptoDate"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="in_warehouse_date" class="layui-form-label">
                入库时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="in_warehouse_date" name="inWarehouseDate"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="out_warehouse_date" class="layui-form-label">
                出库时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="out_warehouse_date" name="outWarehouseDate"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="start_charging_date" class="layui-form-label">
                计费起始时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="start_charging_date" name="startChargingDate"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="rent_area" class="layui-form-label">
                承租总面积
            </label>
            <div class="layui-input-inline">
                <input type="text" id="rent_area" name="rentArea"  lay-verify="number"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                ㎡
            </div>
        </div>
        <div class="layui-form-item">
            <label for="total_capacity" class="layui-form-label">
                总容积
            </label>
            <div class="layui-input-inline">
                <input type="text" id="total_capacity" name="totalCapacity" lay-verify="number"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                m³
            </div>
        </div>
        <div class="layui-form-item">
            <label for="amount" class="layui-form-label">
                总价
            </label>
            <div class="layui-input-inline">
                <input type="text" id="amount" name="amount" lay-verify="number"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                元
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url:"/bu/rentOrder/getById?id=" + id,
                    type: 'GET',
                    dataType : "json",
                    success: function (re) {
                        if (re.code == 200) {
                            form.val("showForm", re.data);
                            form.render();
                        } else {
                            layer.msg(re.msg);
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>