<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-row">
                <div class="layui-form layui-col-md12 my-search">
                    <div class="layui-inline">
                        <input type="text" name="name" id="name" placeholder="请输入查询信息" autocomplete="off"
                               class="layui-input">
                    </div>
                    <button class="layui-btn" id="queryRentOrderDetailList"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="rentOrderDetailTable" lay-filter="rentOrderDetail_table_filter"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var url = '/bu/rentOrderDetail',
        cols = [
            [ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'orderId', title: '单号',}
                , {field: 'needId', title: '所属需求',}
                , {field: 'warehouseTypeName', title: '仓库类型',}
                , {field: 'price', title: '价格',}
                , {field: 'unit', title: '单位',}
                , {field: 'rentArea', title: '面积',}
                , {field: 'amount', title: '小计金额',}
                , {field: 'remarks', title: '备注',}
                , {field: 'createDate', title: '创建时间', sort: true}
                , {field: 'opt', title: '操作', width: 180, fixed: 'right', toolbar: '#opt-btn', unresize: true}
            ]
        ],
        title = '仓库需求明细',prefix= 'rentOrderDetail';

    layui.$(function () {
        setTimeout(function () {
            initPage();
        }, 300);

        layui.$('#queryRentOrderDetailList').click(function () {
            var val = layui.$('#name').val();//获取输入框的值
            initFunction.reloadTableList({name: val}, '/bu/rentOrderDetail/getList4Page', 'rentOrderDetailTable', 'GET');
        });
    });

    function initPage() {
        initFunction.initTable(prefix, url, cols);
        initFunction.tableToolBarOnEvent(prefix,url, title);
        initFunction.tableToolEvent(prefix,url, title);
    }
</script>
