<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-row">
                <div class="layui-form layui-col-md12 my-search">
                    <div class="layui-inline">
                        <input type="text" name="name" id="name" placeholder="请输入查询信息" autocomplete="off"
                               class="layui-input">
                    </div>
                    <button class="layui-btn" id="querySeeWarehouseList"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="seeWarehouseTable" lay-filter="seeWarehouse_table_filter"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var url = '/bu/seeWarehouse',
        cols = [
            [ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'warehouseName', title: '仓库',}
                , {field: 'orgName', title: '货主',}
                , {field: 'dateDay', title: '预约日期',}
                , {field: 'seeDate', title: '看库时间',}
                , {field: 'gradeName', title: '评级',}
                , {field: 'feedback', title: '反馈',}
                , {field: 'statusName', title: '状态',}
                , {field: 'createDate', title: '创建时间', sort: true}
                , {field: 'opt', title: '操作', width: 180, fixed: 'right', toolbar: '#opt-btn', unresize: true}
            ]
        ],
        title = '看库记录',prefix= 'seeWarehouse';

    layui.$(function () {
        setTimeout(function () {
            initPage();
        }, 300);

        layui.$('#querySeeWarehouseList').click(function () {
            var val = layui.$('#name').val();//获取输入框的值
            initFunction.reloadTableList({name: val}, '/bu/seeWarehouse/getList4Page', 'seeWarehouseTable', 'GET');
        });
    });

    function initPage() {
        initFunction.initTable(prefix, url, cols);
        initFunction.tableToolBarOnEvent(prefix,url, title);
        initFunction.tableToolEvent(prefix,url, title);
    }
</script>
