<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>看库记录查看</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <div class="layui-form-item">
            <label for="warehouseId" class="layui-form-label">
                仓库
            </label>
            <div class="layui-input-inline">
                <input type="input" id="warehouseId" name="warehouseName"  readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="orgId" class="layui-form-label">
                货主
            </label>
            <div class="layui-input-inline">
                <input type="input" id="orgId" name="orgName"  readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="dateDay" class="layui-form-label">
                预约日期
            </label>
            <div class="layui-input-inline">
                <input class="layui-input"   name="dateDay"  readonly="true" id="dateDay">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="seeDate" class="layui-form-label">
                看库时间
            </label>
            <div class="layui-input-inline">
                <input class="layui-input"   name="seeDate"  readonly="true"  id="seeDate">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="receiver" class="layui-form-label">
                接待人信息
            </label>
            <div class="layui-input-inline">
                <input type="input" id="receiver" name="receiver"  readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="visitors" class="layui-form-label">
                来访人员信息
            </label>
            <div class="layui-input-inline">
                <input type="input" id="visitors" name="visitors" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="feedback" class="layui-form-label">
                反馈
            </label>
            <div class="layui-input-inline">
                <textarea type="input" id="feedback" name="feedback" readonly="true"  autocomplete="off" class="layui-input"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="grade" class="layui-form-label">
                评级
            </label>
            <div class="layui-input-inline">
                <input type="input" id="grade" name="gradeName" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                状态
            </label>
            <input type="radio" id="status1" name="status" value="1" title="启用">
            <input type="radio" id="status0" name="status" value="0" title="禁用">

        </div>
        <div class="layui-form-item">
            <label for="remarks" class="layui-form-label">
                说明
            </label>
            <div class="layui-input-inline">
                <textarea type="input" id="remarks" name="remarks"  readonly="true"  autocomplete="off" class="layui-input"></textarea>
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url:"/bu/seeWarehouse/getById?id=" + id,
                    type: 'GET',
                    dataType : "json",
                    success: function (re) {
                        if (re.code == 200) {
                            form.val("showForm", re.data);
                            //渲染单选框
                            var status = re.data.status;
                            if (status != undefined && status > 0) {
                                document.getElementById("status1").checked = true;
                            } else {
                                document.getElementById("status0").checked = true;
                            }
                            form.render();
                        } else {
                            layer.msg(re.msg);
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>