<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>签收单查看</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <div class="layui-form-item">
            <label for="lineId" class="layui-form-label">
                线路
            </label>
            <div class="layui-input-inline">
                <input type="text" name="lineName" id="lineId" readonly="true" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="orderId" class="layui-form-label">
                单号
            </label>
            <div class="layui-input-inline">
                <input type="text" name="orderCode" id="orderId" readonly="true" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="signMan" class="layui-form-label">
                签收人
            </label>
            <div class="layui-input-inline">
                <input type="text" name="signMan" id="signMan" readonly="true" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="phone" class="layui-form-label">
                联系方式
            </label>
            <div class="layui-input-inline">
                <input type="text" name="phone" id="phone" readonly="true" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="signPage" class="layui-form-label">
                页数
            </label>
            <div class="layui-input-inline">
                <input type="number" name="signPage" id="signPage" readonly="true" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="signDate" class="layui-form-label">
                签收时间
            </label>
            <div class="layui-input-inline">
                <input class="layui-input"  name="signDate" readonly="true"  id="signDate">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="returnWay" class="layui-form-label">
                返单方式
            </label>
            <div class="layui-input-inline">
                <input class="layui-input"  name="returnWayName" readonly="true"  id="returnWay">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                是否邮寄
            </label>
            <div class="layui-input-inline">
                <input type="text" name="isPostName" readonly="true" id="isPost" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="expressCompany" class="layui-form-label">
                快递公司
            </label>
            <div class="layui-input-inline">
                <input type="text" name="expressCompany"  readonly="true" id="expressCompany" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="expressCode" class="layui-form-label">
                快递单号
            </label>
            <div class="layui-input-inline">
                <input type="text" name="expressCode" readonly="true" id="expressCode" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="status" class="layui-form-label">
                状态
            </label>
            <div class="layui-input-inline">
                <input type="text" name="statusName"  readonly="true" id="status" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="remarks" class="layui-form-label">
                说明
            </label>
            <div class="layui-input-inline">
                <textarea type="input" id="remarks" name="remarks" readonly="true" autocomplete="off" class="layui-input"></textarea>
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url:"/bu/signinInfo/getById?id=" + id,
                    type: 'GET',
                    dataType : "json",
                    success: function (re) {
                        if (re.code == 200) {
                            form.val("showForm", re.data);
                            form.render();
                        } else {
                            layer.msg(re.msg);
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>