<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>一号冷链</title>
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../../static/base/css/font.css">
    <link rel="stylesheet" href="../../../static/base/css/my.css">
    <link rel="stylesheet" href="../../../static/plugins/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-row">
                <div class="layui-form layui-col-md12 my-search">
                    <input type="hidden" name="id" id="id" value=""/>
                    <input type="hidden" name="name" id="name" value=""/>
                    <div class="layui-inline">
                        <input type="text" name="text" id="text" placeholder="请输入查询信息" autocomplete="off"
                               class="layui-input">
                    </div>
                    <button class="layui-btn" id="queryWarehouseTypeInfoList"><i class="layui-icon">&#xe615;</i>查询
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="warehouseTypeInfoTable" lay-filter="warehouseTypeInfo_table_filter"></table>
            </div>
        </div>
    </div>
</div>
<script src="../../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['jquery','table'], function () {
        var $ = layui.$,table = layui.table,hid,hname;
        $(function () {
            setTimeout(function () {
                initPage();
            }, 300);

            $('#queryWarehouseDetailList').click(function () {
                refreshTab();
            });

            //监听工具条
            table.on('tool(warehouseTypeInfo_table_filter)', function (obj) {
                //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                //获得当前行数据
                var data = obj.data, tip = {'id': 'id',code:'warehouseId'}, layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'btn_view') {
                    //查看
                    myEdit('查看', '/bu/warehouse/info/toForm', {'id': data.id,code:hid}, tip, 600, 450);
                } else if (layEvent === 'btn_edit') {
                    //编辑
                    myEdit('编辑', '/bu/warehouse/info/edit', {'id': data.id,code:hid}, tip, 600, 450)
                } else if (layEvent === 'btn_del') {
                    //删除
                    layer.confirm('您确定要删除该仓库类型明细吗？', {icon: 3, title: '仓库类型明细删除'}, function (index) {
                        $.get("/bu/warehouse/info/del?id=" + data.id, function (result) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1200
                            }, function () {
                                refreshTab();
                            });
                        })
                    });
                }
            });

            table.on('toolbar(warehouseTypeInfo_table_filter)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addButton':
                        myEdit('添加', '/bu/warehouse/info/add',{code:hid},{code:'warehouseId'}, 600, 450);
                        break;
                    case 'isDelAll':
                        var data = checkStatus.data;
                        var ids = "";
                        if (data.length > 0) {
                            data.forEach(function (item, index) {
                                ids += item.id + ",";
                            });
                            layer.confirm('您确定要批量删除仓库类型明细吗？', {
                                icon: 3,
                                title: '仓库类型明细删除'
                            }, function (index) {
                                $.get("/bu/warehouse/info/dels?ids=" + ids + "0", function (result) {
                                    if (result.code == 200) {
                                        layer.msg('批量删除成功', {
                                            icon: 1,
                                            time: 1200
                                        }, function () {
                                            refreshTab();
                                            //$(obj).parents("tr").remove();
                                        });
                                    } else {
                                        layer.msg(result.msg, {
                                            icon: 2,
                                            time: 1200
                                        }, function () {
                                            refreshTab();
                                        });
                                    }
                                })
                            });
                        } else {
                            layer.msg('请选择要删除的数据');
                        }
                        break;
                }
            });
        });

        function initPage(){
            hid = $('#id').val(),hname=$('#name').val();//获取输入框的值
            table.render({
                elem: '#warehouseTypeInfoTable'
                , height: 490
                , url: '/bu/warehouse/info/getList4Page' //数据接口
                , where: {warehouseId: hid}
                , toolbar: '#tabletoolbar'
                , even: true
                , cellMinWidth: 100
                , request: {
                    pageName: 'currentPage'
                    , limitName: 'pageSize'
                }
                , response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    , statusCode: 200 //成功的状态码，默认：0
                    , msgName: 'msg' //状态信息的字段名称，默认：msg
                    , countName: 'count' //数据总数的字段名称，默认：count
                    , dataName: 'data' //数据列表的字段名称，默认：data
                }
                , page: true //开启分页
                , cols: [
                    [ //表头
                        {type: 'checkbox', fixed: 'left'}
                        , {field: 'warehouseTypeName', title: '仓库类型',}
                        , {field: 'minTemper', title: '最低温度',}
                        , {field: 'maxTemper', title: '最高温度',}
                        , {field: 'useArea', title: '可用面积',}
                        , {field: 'startRentArea', title: '起租面积',}
                        , {field: 'useTray', title: '可用托数',}
                        , {field: 'createDate', title: '创建时间', sort: true}
                        , {field: 'opt', title: '操作', width: 180, fixed: 'right', toolbar: '#opt-btn', unresize: true}
                    ]
                ]
            });

            window.myEdit = function (title, url, val, tip, w, h) {
                if (title == null || title == '') {
                    title = false;
                }
                if (url == null || url == '') {
                    layer.msg("404:没有请求的页面");
                    return;
                }
                if (w == null || w == '') {
                    w = ($(window).width() * 0.9);
                }
                if (h == null || h == '') {
                    h = ($(window).height() - 50);
                }
                layer.open({
                    type: 2,
                    area: [w + 'px', h + 'px'],
                    fix: false, //不固定
                    maxmin: true,
                    shadeClose: true,
                    shade: 0.4,
                    title: hname+'['+title+']',
                    content: url,
                    success: function (layero, index) {
                        //向iframe页的id=house的元素传值  // 参考 https://yq.aliyun.com/ziliao/133150
                        var body = layer.getChildFrame('body', index);
                        if (tip.id != undefined) {
                            body.contents().find("#" + tip.id).val(val.id);
                        }
                        if (tip.code != undefined) {
                            body.contents().find("#" + tip.code).val(val.code);
                        }
                    },
                    error: function (layero, index) {
                        layer.msg("出错了");
                    }
                });
            }
        }

        function refreshTab() {
            var val = $('#text').val();//获取输入框的值
            //这里以搜索为例
            table.reload('warehouseTypeInfoTable', {
                where: {name: val,warehouseId:hid}
                , url: '/bu/warehouse/info/getList4Page'//后台做模糊搜索接口路径
                , method: 'GEY'
                , page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }
    });
</script>

<script type="text/html" id="opt-btn">
    <button class="layui-btn layui-btn layui-btn-sm" value="查看" lay-event="btn_view">
        <i class="layui-icon">&#xe615;</i>
    </button>
    <button class="layui-btn layui-btn-normal layui-btn-sm" value="编辑" lay-event="btn_edit">
        <i class="layui-icon">&#xe642;</i>
    </button>
    <button class="layui-btn layui-btn-danger layui-btn-sm" value="删除" lay-event="btn_del">
        <i class="layui-icon"></i>
    </button>
</script>
</body>
</html>
