<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>仓库详情查看</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                 名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="mobile" class="layui-form-label">
                手机
            </label>
            <div class="layui-input-inline">
                <input type="text" id="mobile" name="mobile" readonly="true"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="register_type" class="layui-form-label">
                <span class="we-red">*</span>登陆类型
            </label>
            <div class="layui-input-inline">
                <select name="registerType" id="register_type"  lay-filter="register_type" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label" >
                <span class="we-red">*</span>状态
            </label>
            <input type="radio" id="loginFlag0" name="loginFlag" value="0" title="启用">
            <input type="radio" id="loginFlag1" name="loginFlag" value="1" title="禁用">
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-inline" id="roles">

            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url:"/bu/warehouseDetail/getById?id=" + id,
                    type: 'GET',
                    dataType : "json",
                    success: function (re) {
                        if (re.code == 200) {
                            form.val("showForm", re.data);
                            form.render();
                        } else {
                            layer.msg(re.msg);
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>