<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-row">
                <div class="layui-form layui-col-md12 my-search">
                    <div class="layui-inline">
                        <input type="text" name="name" id="name" placeholder="请输入查询信息" autocomplete="off"
                               class="layui-input">
                    </div>
                    <button class="layui-btn" id="queryWarehouseServicePriceList"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="warehouseServicePriceTable" lay-filter="warehouseServicePrice_table_filter"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var url = '/bu/warehouseServicePrice',
        cols = [
            [ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'warehouseName', title: '仓库',}
                , {field: 'project', title: '服务项目',}
                , {field: 'projectUnit', title: '单位',}
                , {field: 'projectPrice', title: '单价',}
                , {field: 'projectTypeName', title: '服务类型',}
                , {field: 'workTime', title: '工作时段',}
                , {field: 'createDate', title: '创建时间', sort: true}
                , {field: 'remarks', title: '说明',}
                , {field: 'opt', title: '操作', width: 180, fixed: 'right', toolbar: '#opt-btn', unresize: true}
            ]
        ],
        title = '服务报价表',prefix= 'warehouseServicePrice';

    layui.$(function () {
        setTimeout(function () {
            initPage();
        }, 300);

        layui.$('#queryWarehouseServicePriceList').click(function () {
            var val = layui.$('#name').val();//获取输入框的值
            initFunction.reloadTableList({name: val}, '/bu/warehouseServicePrice/getList4Page', 'warehouseServicePriceTable', 'GET');
        });
    });

    function initPage() {
        initFunction.initTable(prefix, url, cols);
        initFunction.tableToolBarOnEvent(prefix,url, title);
        initFunction.tableToolEvent(prefix,url, title);
    }
</script>
