<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>仓库需求明细编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../../static/base/css/font.css">
    <link rel="stylesheet" href="../../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <input type="hidden" name="orgId" id="orgId" value=""/>

        <div class="layui-form-item">
            <label for="warehouseType" class="layui-form-label">
                仓库类型
            </label>
            <div class="layui-input-inline">
                <select name="warehouseType" id="warehouseType"  lay-verify="required"  lay-filter="warehouseType" >
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="minPrice" class="layui-form-label">
                <span class="we-red">*</span>最低价格
            </label>
            <div class="layui-input-inline">
                <input type="text" name="minPrice" id="minPrice"  lay-verify="number|required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                元
            </div>
        </div>
        <div class="layui-form-item">
            <label for="maxPrice" class="layui-form-label">
                <span class="we-red">*</span>最高价格
            </label>
            <div class="layui-input-inline">
                <input type="text" name="maxPrice" id="maxPrice"  lay-verify="number|required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                元
            </div>
        </div>
        <div class="layui-form-item">
            <label for="useArea" class="layui-form-label">
                <span class="we-red">*</span>可用面积
            </label>
            <div class="layui-input-inline">
                <input type="text" name="useArea" id="useArea"  lay-verify="number|required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                ㎡
            </div>
        </div>
        <div class="layui-form-item">
            <label for="maxTemper" class="layui-form-label">
                <span class="we-red">*</span>起租面积
            </label>
            <div class="layui-input-inline">
                <input type="text" name="maxTemper" id="maxTemper"  lay-verify="number|required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                ㎡
            </div>
        </div>
        <div class="layui-form-item">
            <label for="useVolume" class="layui-form-label">
                 可用容积
            </label>
            <div class="layui-input-inline">
                <input type="text" name="useVolume" id="useVolume"   lay-verify="number"  autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                m³
            </div>
        </div>
        <div class="layui-form-item">
            <label for="remarks" class="layui-form-label">
                说明
            </label>
            <div class="layui-input-inline">
                <textarea type="input" id="remarks" name="remarks"   autocomplete="off" class="layui-input"></textarea>
            </div>
            <div class="layui-form-mid layui-word-aux">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn" id="editForm" lay-filter="editForm" lay-submit="">保存</button>
        </div>
    </form>
</div>
<script src="../../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }
        });

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url: "/bu/warehouseRelease/info/getById?id=" + id,
                    type: 'GET',
                    dataType: "json",
                    success: function (re) {
                        if (re.code == 200) {
                            form.val("showForm", re.data);
                            initFunction.getDictSelectList(true,form, 'WAREHOUSE_TYPE', 'warehouseType',re.data.warehouseType);
                            form.render();
                        } else {
                            layer.msg(re.msg);
                        }
                    }
                });
            }
        }

        //监听提交
        form.on('submit(editForm)', function (data) {
            $.ajax({
                url: '/bu/warehouseRelease/info/save',
                type: 'POST',
                data: data.field,
                dataType: "json",
                success: function (result) {
                    if (result.code == 200) {
                        layer.msg('保存成功', {
                            icon: 6,
                            time: 1500
                        }, function () {
                            parent.layui.table.reload('warehouseReleaseDetailTable', {page: {curr: 1}});
                            // 获得frame索引
                            //关闭当前frame
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layer.msg(result.msg);
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>