<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-row">
                <div class="layui-form layui-col-md12 my-search">

                    <div class="layui-inline">
                        <input type="text" name="currency" id="currency" placeholder="请输入查询信息" autocomplete="off" class="layui-input">
                    </div>
                    <button class="layui-btn" id="queryDictList"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="dictTable" lay-filter="dict_table_filter"></table>

                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var url = '/dict',
        cols =  [
            [ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'dictType', title: '标签', /*sort: true, fixed: 'left'*/}
                , {field: 'dictCode', title: '编码',}
                , {field: 'dictValue', title: '标题',}
                , {field: 'sort', title: '排序',}
                , {field: 'remarks', title: '备注',}
                , {field: 'createDate', title: '创建时间', sort: true}
                , {field: 'opt', title: '操作', width: 180, fixed: 'right', toolbar: '#opt-btn', unresize: true}
            ]
        ],
        title = '数据字典', prefix='dict';

    layui.$(function () {
        setTimeout(function () {
            initPage();
        }, 300);

        layui.$('#queryDictList').click(function () {
            var val = layui.$('#name').val();//获取输入框的值
            initFunction.reloadTableList({name: val}, '/dict/getList4Page', 'dictTable', 'GET');
        });
    });

    function initPage() {
        initFunction.initTable( prefix,url, cols);
        initFunction.tableToolBarOnEvent(prefix,url, title);
        initFunction.tableToolEvent(prefix,url, title);
    }
</script>
