<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查看菜单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <div class="layui-tab-content">
            <input type="hidden" name="id" id="id" value=""/>
            <div class="layui-tab-item layui-show">
                <!--tab1 content-->
                <div class="layui-form-item">
                    <label class="layui-form-label" for="parent-select">所属菜单</label>
                    <div class="layui-input-inline">
                        <select name="parentId" id="parent-select" lay-verify="required" lay-filter="parent-select">
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label" for="name">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" readonly="true" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="function_type"><span class="we-red">*</span>菜单类型</label>
                    <div class="layui-input-inline">
                        <div class="layui-input-inline" >
                            <select name="functionType" id="function_type"   lay-verify="required">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label" for="sort">排序</label>
                    <div class="layui-input-inline">
                        <input type="text" id="sort" name="sort" readonly="true" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label" for="href">地址</label>
                    <div class="layui-input-inline">
                        <input type="text" id="href" name="href" readonly="true" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label" for="target">目标</label>
                    <div class="layui-input-inline">
                        <input type="text" id="target" name="target" readonly="true" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label" for="icon">图标</label>
                    <div class="layui-input-inline">
                        <input type="text" id="icon" name="icon" readonly="true" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否显示</label>
                    <div class="layui-input-inline">
                        <input type="radio" id="isShowForm1" name="isShow" title="显示" value="1"/>
                        <input type="radio" id="isShowForm0" name="isShow" title="不显示" value="0"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="remarks">备注</label>
                    <div class="layui-input-inline">
                        <input type="text" id="remarks" name="remarks" readonly="true" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <label class="layui-form-label">说明</label>
                <textarea name="remarks" rows="4"></textarea>
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url: "/function/getById?id=" + id,
                    type: 'GET',
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 200) {
                            form.val("showForm", result.data);
                            //重新给单选框渲染
                            var isShow = result.data.isShow;
                            if (isShow != undefined && isShow > 0) {
                                document.getElementById("isShowForm1").checked = true;
                            } else {
                                document.getElementById("isShowForm0").checked = true;
                            }
                            //渲染下拉列表默认值
                            initFunction.getDictSelectList(true,form, 'FUNCTION_TYPE', 'function_type', result.data.functionType);
                            form.render();
                        } else {
                            layer.msg(result.msg);
                        }
                    }
                });
            }
        }

        //遍历select option
        $(document).ready(function () {
            initFunction.getSelectFunctionTree(true,form, 'parent-select');

        });
    });
</script>
</body>
</html>