<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-row">
                <div class="layui-form layui-col-md12 my-search">
                    <div class="layui-inline">
                        <input type="text" name="name" id="memberName" placeholder="请输入查询信息" autocomplete="off" class="layui-input">
                    </div>
                    <button class="layui-btn" id="queryMemberList"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="memberTable" lay-filter="member_table_filter"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var url = '/member',
        cols =[
            [ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'name', title: '用户名',}
                , {field: 'mobile', title: '手机号',}
                , {field: 'registerTypeName', title: '注册类型',}
                , {field: 'loginFlagName', title: '状态',}
                , {field: 'createDate', title: '创建时间', sort: true}
                , {field: 'lastLoginDate', title: '最后登录时间'}
                , {field: 'opt', title: '操作', width: 180, fixed: 'right', toolbar: '#opt-btn', unresize: true}
            ]
        ],
        title = '会员', prefix='member';

    layui.$(function () {
        setTimeout(function () {
            initPage();
        }, 300);

        layui.$('#queryMemberList').click(function () {
            var val = layui.$('#name').val();//获取输入框的值
            initFunction.reloadTableList({name: val}, '/member/getList4Page', 'memberTable', 'GET');
        });
    });

    function initPage() {
        initFunction.initTable( prefix,url, cols);
        initFunction.tableToolBarOnEvent(prefix,url, title);
        initFunction.tableToolEvent(prefix,url, title);
    }
</script>


