<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>查看企业</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <link rel="stylesheet" href="../../static/base/css/formSelects.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                 名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                公司类型
            </label>
            <div class="layui-input-inline">
                <select name="orgType" id="org_type"  readonly="true">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                所在省
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="province" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                所在市
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="city" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                所在县/区
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="county" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                详细地址
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="address" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                所属行业
            </label>
            <div class="layui-input-inline">
                <select name="industry" id="industry"  readonly="true"  >
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                主营内容
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="mainScope" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                联系人
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="linkMan" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                企业电话
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="phone" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="mobile" class="layui-form-label">
                手机
            </label>
            <div class="layui-input-inline">
                <input type="text" id="mobile" name="mobile" readonly="true"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                公司网址
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="website" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                证件类型
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="idNumber"  readonly="true"  id="id_type"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                证件号码
            </label>
            <div class="layui-input-inline">
                <input type="text"  name="idNumber" readonly="true"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                会员
            </label>
            <div class="layui-input-inline" style="width:400px;">
                <select name="memberIds" id="members"  readonly="true" xm-select="members" >
                </select>
            </div>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script src="../../static/layui/my/modules/formSelects-v4.min.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.ajax({
                    url:"/org/getById?id=" + id,
                    type: 'GET',
                    dataType : "json",
                    success: function (result) {
                        if (result.code == 200) {
                            form.val("showForm", result.data);
                            initFunction.getDictSelectList(true,form, 'ORG_TYPE','org_type',result.data.orgType);
                            initFunction.getDictSelectList(true,form, 'ID_TYPE','id_type',result.data.idType);
                            initFunction.getDictSelectList(true,form, 'INDUSTRY','industry',result.data.industry);
                            initFunction.getMutlSelect(form,'members','/member/getMutiSelect',{orgId:id});
                            //区域下拉列表 省
                            initFunction.getSelectAreaTree(true,form, 'provinceId', {level: "1"}, result.data.provinceId);
                            initFunction.getSelectAreaTree(true,form, 'cityId', {
                                level: "2",
                                pid: result.data.provinceId
                            }, result.data.cityId);
                            initFunction.getSelectAreaTree(true,form, 'countyId', {
                                level: "3",
                                pid: result.data.cityId
                            }, result.data.countyId);
                            form.render();
                        } else {
                            layer.msg(result.msg);
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>