<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>角色逻辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../static/base/css/font.css">
    <link rel="stylesheet" href="../../static/base/css/my.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="my-body">
    <form class="layui-form" lay-filter="showForm">
        <input type="hidden" name="id" id="id" value=""/>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="we-red">*</span>角色名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="roleName" required="" lay-verify="required|name"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="role_type" class="layui-form-label">
                <span class="we-red">*</span>角色类型
            </label>
            <div class="layui-input-inline">
                <select name="roleType" id="role_type" lay-verify="required" lay-filter="level-select">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="we-red">*</span>状态
            </label>
            <input type="radio" id="useable1" name="useable" value="1" title="启用">
            <input type="radio" id="useable0" name="useable" value="0" title="禁用">
        </div>

        <div class="layui-form-item">
            <label for="name" class="layui-form-label">角色
            </label>
            <div id="xtree_roles_edit" class="xtree_contianer" name="roles" style="margin-left: 140px;"></div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn" lay-filter="editForm" lay-submit="">保存</button>
        </div>
    </form>
</div>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/base/js/common.js" charset="utf-8"></script>
<script src="../../static/layui/my/modules/layui-xtree.js" charset="utf-8"></script>
<script type="text/javascript">

    layui.use(['jquery', 'form', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,xtrees;

        //自定义验证规则
        form.verify({
            name: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }
            // ,mobile:[/^1(?:3\d|4[4-9]|5[0-35-9]|6[67]|7[013-8]|8\d|9\d)\d{8}$/,'手机号码格式不正式']
            , oldpass: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (/^[\S]{6,12}$/.test(value)) {
                    return '密码必须6到12位，且不能出现空格';
                }
            }
            , pass: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (/^[\S]{6,12}$/.test(value)) {
                    return '密码必须6到12位，且不能出现空格';
                }
            }
            , repass: function (value) {
                if ($('#L_pass').val() != value) {
                    return '两次密码不一致';
                }
            }
        });


        //页面初始化加载
        $(function () {
            setTimeout(function () {
                frameVal();
            }, 300);
        });

        function frameVal() {
            xtrees = new layuiXtree({
                elem: 'xtree_roles_edit'
                , form: form
                , data: '/function/treeDTO'
                , isopen: false  //加载完毕后的展开状态，默认值：true
                , ckall: true    //启用全选功能，默认值：false
            });

            var id = $('input[name="id"]').val();
            if (id != undefined && id > 0) {
                $.get("/role/getById?id=" + id, function (result) {
                        if (result.code == 200) {
                            form.val("showForm", result.data);
                            //给状态重新渲染
                            var useable = result.data.useable;
                            if (useable != undefined && useable > 0) {
                                document.getElementById("useable1").checked = true;
                            } else {
                                document.getElementById("useable0").checked = true;
                            }
                            initFunction.getDictSelectList(true,form, 'ROLE_TYPE', 'role_type', result.data.roleType);

                            if (result.data.functions != null && result.data.functions.length > 0) {
                                var allck = xtrees.GetAllCheckBox();
                                setTimeout(function () {
                                    for (var i = 0; i < allck.length; i++) {
                                        for (var j = 0; j < result.data.functions.length; j++) {
                                            if (allck[i].value == result.data.functions[j].id) {
                                                allck[i].checked = true;
                                                break;
                                            }
                                        }
                                    }
                                    form.render('checkbox');
                                }, 300);
                            }
                            form.render();
                        }
                    }
                )
            }

        }

        //监听提交
        form.on('submit(editForm)', function (data) {
            var oCks = xtrees.GetAllCheckBox(), ds = data.field, functions = ''; //这是方法
            for (var i = 0; i < oCks.length; i++) {
                if (oCks[i].value != undefined && oCks[i].value != 'on' && oCks[i].checked)
                    functions += oCks[i].value + ',';
            }
            ds.functionIds = functions;
            $.ajax({
                url: '/role/save',
                type: 'POST',
                data: data.field,
                dataType: "json",
                success: function (result) {
                    if (result != undefined && result.code == 200) {
                        layer.msg(result.msg, {
                            icon: 1,
                            time: 1200
                        }, function () {
                            parent.layui.table.reload('roleTable', {page: {curr: 1}});
                            // 获得frame索引
                            //关闭当前frame
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        layer.msg(result.msg);
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>