/* Table of Contents
==================================================
    #立式列表CSS

/* Table of Contents
================================================== */
.btn-custom {
    color: #bdc3c7;
    font-size: 18px;
    border: 1px solid #bdc3c7;
}
.btn-custom:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}
#pricing-table {
    padding-top: 50px;
}
#pricing-table .pricing {
    marign: 0;
    padding: 0;
    font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
    padding-bottom: 30px;
}
#pricing-table .pricing .pricing-table .pricing-header {
    position: relative;
    background: #34495e;
    padding: 22px 22px;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
    font-size: 24px;
    position: relative;
    top: -30px;
    color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
    font-size: 16px;
    color: #bdc3c7;
    text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
    padding: 20px 0 40px 0;
    background: #ffffff;
    border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
    padding: 0px;
    display: table;
    margin: 0px auto;
}
#pricing-table .pricing .pricing-list ul li {
    list-style: none;
    border-bottom: 1px solid #EAECEB;
    color: #bdc3c7;
    font-size: 16px;
    line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
    border: none;
}
#pricing-table .pricing .pricing-list ul li i {
    margin-right: 12px;
    color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
    color: #34495e;
}



/* Table of Contents
==================================================
    #Base 960 Grid  适屏CSS
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

/* #Base 960 Grid
================================================== */

.container                                  { position: relative; width: 98%; margin: 0 auto; padding: 0; }
.column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                        { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column                      { width: 40px; }
.container .two.columns                     { width: 100px; }
.container .three.columns                   { width: 160px; }
.container .four.columns                    { width: 220px; }
.container .five.columns                    { width: 280px; }
.container .six.columns                     { width: 340px; }
.container .seven.columns                   { width: 400px; }
.container .eight.columns                   { width: 460px; }
.container .nine.columns                    { width: 520px; }
.container .ten.columns                     { width: 580px; }
.container .eleven.columns                  { width: 640px; }
.container .twelve.columns                  { width: 700px; }
.container .thirteen.columns                { width: 760px; }
.container .fourteen.columns                { width: 820px; }
.container .fifteen.columns                 { width: 880px; }
.container .sixteen.columns                 { width: 940px; }
.container .sevsenteen.columns              { width: 1000px; }
.container .eightteen.columns               { width: 1060px; }
.container .nineteen.columns                { width: 1120px; }
.container .tenteen.columns                 { width: 100%; }

.container .one-third.column                { width: 300px; }
.container .two-thirds.column               { width: 620px; }

/* Offsets */
.container .offset-by-one                   { padding-left: 60px;  }
.container .offset-by-two                   { padding-left: 120px; }
.container .offset-by-three                 { padding-left: 180px; }
.container .offset-by-four                  { padding-left: 240px; }
.container .offset-by-five                  { padding-left: 300px; }
.container .offset-by-six                   { padding-left: 360px; }
.container .offset-by-seven                 { padding-left: 420px; }
.container .offset-by-eight                 { padding-left: 480px; }
.container .offset-by-nine                  { padding-left: 540px; }
.container .offset-by-ten                   { padding-left: 600px; }
.container .offset-by-eleven                { padding-left: 660px; }
.container .offset-by-twelve                { padding-left: 720px; }
.container .offset-by-thirteen              { padding-left: 780px; }
.container .offset-by-fourteen              { padding-left: 840px; }
.container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container                                  { width: 768px; }
    .container .column,
    .container .columns                         { margin-left: 10px; margin-right: 10px;  }
    .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
    .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

    .container .one.column                      { width: 28px; }
    .container .two.columns                     { width: 76px; }
    .container .three.columns                   { width: 124px; }
    .container .four.columns                    { width: 172px; }
    .container .five.columns                    { width: 220px; }
    .container .six.columns                     { width: 268px; }
    .container .seven.columns                   { width: 316px; }
    .container .eight.columns                   { width: 364px; }
    .container .nine.columns                    { width: 412px; }
    .container .ten.columns                     { width: 460px; }
    .container .eleven.columns                  { width: 508px; }
    .container .twelve.columns                  { width: 556px; }
    .container .thirteen.columns                { width: 604px; }
    .container .fourteen.columns                { width: 652px; }
    .container .fifteen.columns                 { width: 700px; }
    .container .sixteen.columns                 { width: 748px; }

    .container .one-third.column                { width: 236px; }
    .container .two-thirds.column               { width: 492px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 48px; }
    .container .offset-by-two                   { padding-left: 96px; }
    .container .offset-by-three                 { padding-left: 144px; }
    .container .offset-by-four                  { padding-left: 192px; }
    .container .offset-by-five                  { padding-left: 240px; }
    .container .offset-by-six                   { padding-left: 288px; }
    .container .offset-by-seven                 { padding-left: 336px; }
    .container .offset-by-eight                 { padding-left: 348px; }
    .container .offset-by-nine                  { padding-left: 432px; }
    .container .offset-by-ten                   { padding-left: 480px; }
    .container .offset-by-eleven                { padding-left: 528px; }
    .container .offset-by-twelve                { padding-left: 576px; }
    .container .offset-by-thirteen              { padding-left: 624px; }
    .container .offset-by-fourteen              { padding-left: 672px; }
    .container .offset-by-fifteen               { padding-left: 720px; }
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container { width: 300px; }
    .columns, .column { margin: 0; }

    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column  { width: 300px; }

    /* Offsets */
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen { padding-left: 0; }

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
    .columns, .column { margin: 0; }

    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column { width: 420px; }
}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}




/* Teasers / Portfolio
================================================== */
    #Base960 Grid 细节样式
/* Teasers / Portfolio
================================================== */

h3.info { margin-bottom: 5px; margin-top: -5px; }
.lightlabel { float: left; color: #ccc; width: 50px; }
.infofield { float: left; }
.portfolio .teaser { padding-bottom: 20px; }
.portfolio .nopadding { padding-bottom: 0px; }
.portfolio_selector { font-weight: bold; }
.portfolio_filter ul { float: left; margin: 0; padding: 0; }
.portfolio_filter ul li { margin: 0; padding: 0; float: left; list-style-type: none; display: inline-block; }
.portfolio_filter span { padding-left: 10px; padding-right: 10px; color: #ccc; cursor: default; }
.teasers img, .teasers_large img { float: left; }
.teasers .topline, .teasers .subline { float: left; width: 163px; }
.teasers_large .topline, .teasers_large .subline { float: left; width: 403px; }
.bigplus { float: left; width: 25px; height: 25px; background: #d5d5d5 url('../images/button_plus.png') no-repeat 7px 7px; margin-right: 10px; }
.pluswrap .bigplus, .pluswrap .bigdoc, .pluswrap .bigcomment { float: right; margin-left: 10px; margin-right: 0px; }
.pluswrap { float: left; padding-top: 10px; padding-bottom: 8px; padding-left: 10px; padding-right: 10px; border: 1px solid #ddd; border-top: 0; margin-top: 0px; background: #eee; text-align: left; }
.pluswrap.half { width: 438px; }
a .overlay { background-color:#ff004e; }
a .overlaytext{ color: #fff; background-color:#ff004e; padding: 2px 10px; font-size: 11px; font-weight: normal; text-decoration: none; line-height: 21px; }
.newsteaser img { float: left; border: 5px solid #ddd; }
.newsteaser .topline { margin-top: 4px;	}
.newsteaser .topline, .newsteaser .subline { float: left; width: 80%;	margin-left: 10px; }
.newsexcerpt { float: left;	margin-top: 13px; width: 80%; margin-left: 10px; }

img.scale-with-grid {
    max-width: 100%;
    height: auto; }

/*
 bootstrop
 */
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}
.col-xs-12{width:100%}
.col-xs-11{width:91.66666666666666%}
.col-xs-10{width:83.33333333333334%}
.col-xs-9{width:75%}
.col-xs-8{width:66.66666666666666%}
.col-xs-7{width:58.333333333333336%}
.col-xs-6{width:50%}
.col-xs-5{width:41.66666666666667%}
.col-xs-4{width:33.33333333333333%}
.col-xs-3{width:25%}
.col-xs-2{width:16.666666666666664%}
.col-xs-1{width:8.333333333333332%}
.col-xs-pull-12{right:100%}
.col-xs-pull-11{right:91.66666666666666%}
.col-xs-pull-10{right:83.33333333333334%}
.col-xs-pull-9{right:75%}
.col-xs-pull-8{right:66.66666666666666%}
.col-xs-pull-7{right:58.333333333333336%}
.col-xs-pull-6{right:50%}
.col-xs-pull-5{right:41.66666666666667%}
.col-xs-pull-4{right:33.33333333333333%}
.col-xs-pull-3{right:25%}
.col-xs-pull-2{right:16.666666666666664%}
.col-xs-pull-1{right:8.333333333333332%}
.col-xs-pull-0{right:0}
.col-xs-push-12{left:100%}
.col-xs-push-11{left:91.66666666666666%}
.col-xs-push-10{left:83.33333333333334%}
.col-xs-push-9{left:75%}
.col-xs-push-8{left:66.66666666666666%}
.col-xs-push-7{left:58.333333333333336%}
.col-xs-push-6{left:50%}
.col-xs-push-5{left:41.66666666666667%}
.col-xs-push-4{left:33.33333333333333%}
.col-xs-push-3{left:25%}
.col-xs-push-2{left:16.666666666666664%}
.col-xs-push-1{left:8.333333333333332%}
.col-xs-push-0{left:0}
.col-xs-offset-12{margin-left:100%}
.col-xs-offset-11{margin-left:91.66666666666666%}
.col-xs-offset-10{margin-left:83.33333333333334%}
.col-xs-offset-9{margin-left:75%}
.col-xs-offset-8{margin-left:66.66666666666666%}
.col-xs-offset-7{margin-left:58.333333333333336%}
.col-xs-offset-6{margin-left:50%}
.col-xs-offset-5{margin-left:41.66666666666667%}
.col-xs-offset-4{margin-left:33.33333333333333%}
.col-xs-offset-3{margin-left:25%}
.col-xs-offset-2{margin-left:16.666666666666664%}
.col-xs-offset-1{margin-left:8.333333333333332%}
.col-xs-offset-0{margin-left:0}
@media(min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
    .col-sm-12{width:100%}
    .col-sm-11{width:91.66666666666666%}
    .col-sm-10{width:83.33333333333334%}
    .col-sm-9{width:75%}
    .col-sm-8{width:66.66666666666666%}
    .col-sm-7{width:58.333333333333336%}
    .col-sm-6{width:50%}
    .col-sm-5{width:41.66666666666667%}
    .col-sm-4{width:33.33333333333333%}
    .col-sm-3{width:25%}
    .col-sm-2{width:16.666666666666664%}
    .col-sm-1{width:8.333333333333332%}
    .col-sm-pull-12{right:100%}
    .col-sm-pull-11{right:91.66666666666666%}
    .col-sm-pull-10{right:83.33333333333334%}
    .col-sm-pull-9{right:75%}
    .col-sm-pull-8{right:66.66666666666666%}
    .col-sm-pull-7{right:58.333333333333336%}
    .col-sm-pull-6{right:50%}
    .col-sm-pull-5{right:41.66666666666667%}
    .col-sm-pull-4{right:33.33333333333333%}
    .col-sm-pull-3{right:25%}
    .col-sm-pull-2{right:16.666666666666664%}
    .col-sm-pull-1{right:8.333333333333332%}
    .col-sm-pull-0{right:0}
    .col-sm-push-12{left:100%}
    .col-sm-push-11{left:91.66666666666666%}
    .col-sm-push-10{left:83.33333333333334%}
    .col-sm-push-9{left:75%}
    .col-sm-push-8{left:66.66666666666666%}
    .col-sm-push-7{left:58.333333333333336%}
    .col-sm-push-6{left:50%}
    .col-sm-push-5{left:41.66666666666667%}
    .col-sm-push-4{left:33.33333333333333%}
    .col-sm-push-3{left:25%}
    .col-sm-push-2{left:16.666666666666664%}
    .col-sm-push-1{left:8.333333333333332%}
    .col-sm-push-0{left:0}
    .col-sm-offset-12{margin-left:100%}
    .col-sm-offset-11{margin-left:91.66666666666666%}
    .col-sm-offset-10{margin-left:83.33333333333334%}
    .col-sm-offset-9{margin-left:75%}
    .col-sm-offset-8{margin-left:66.66666666666666%}
    .col-sm-offset-7{margin-left:58.333333333333336%}
    .col-sm-offset-6{margin-left:50%}
    .col-sm-offset-5{margin-left:41.66666666666667%}
    .col-sm-offset-4{margin-left:33.33333333333333%}
    .col-sm-offset-3{margin-left:25%}
    .col-sm-offset-2{margin-left:16.666666666666664%}
    .col-sm-offset-1{margin-left:8.333333333333332%}
    .col-sm-offset-0{margin-left:0}
}
@media(min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
    .col-md-12{width:100%}
    .col-md-11{width:91.66666666666666%}
    .col-md-10{width:83.33333333333334%}
    .col-md-9{width:75%}
    .col-md-8{width:66.66666666666666%}
    .col-md-7{width:58.333333333333336%}
    .col-md-6{width:50%}
    .col-md-5{width:41.66666666666667%}
    .col-md-4{width:33.33333333333333%}
    .col-md-3{width:25%}
    .col-md-2{width:16.666666666666664%}
    .col-md-1{width:8.333333333333332%}
    .col-md-pull-12{right:100%}
    .col-md-pull-11{right:91.66666666666666%}
    .col-md-pull-10{right:83.33333333333334%}
    .col-md-pull-9{right:75%}
    .col-md-pull-8{right:66.66666666666666%}
    .col-md-pull-7{right:58.333333333333336%}
    .col-md-pull-6{right:50%}
    .col-md-pull-5{right:41.66666666666667%}
    .col-md-pull-4{right:33.33333333333333%}
    .col-md-pull-3{right:25%}
    .col-md-pull-2{right:16.666666666666664%}
    .col-md-pull-1{right:8.333333333333332%}
    .col-md-pull-0{right:0}
    .col-md-push-12{left:100%}
    .col-md-push-11{left:91.66666666666666%}
    .col-md-push-10{left:83.33333333333334%}
    .col-md-push-9{left:75%}
    .col-md-push-8{left:66.66666666666666%}
    .col-md-push-7{left:58.333333333333336%}
    .col-md-push-6{left:50%}
    .col-md-push-5{left:41.66666666666667%}
    .col-md-push-4{left:33.33333333333333%}
    .col-md-push-3{left:25%}
    .col-md-push-2{left:16.666666666666664%}
    .col-md-push-1{left:8.333333333333332%}
    .col-md-push-0{left:0}
    .col-md-offset-12{margin-left:100%}
    .col-md-offset-11{margin-left:91.66666666666666%}
    .col-md-offset-10{margin-left:83.33333333333334%}
    .col-md-offset-9{margin-left:75%}
    .col-md-offset-8{margin-left:66.66666666666666%}
    .col-md-offset-7{margin-left:58.333333333333336%}
    .col-md-offset-6{margin-left:50%}
    .col-md-offset-5{margin-left:41.66666666666667%}
    .col-md-offset-4{margin-left:33.33333333333333%}
    .col-md-offset-3{margin-left:25%}
    .col-md-offset-2{margin-left:16.666666666666664%}
    .col-md-offset-1{margin-left:8.333333333333332%}
    .col-md-offset-0{margin-left:0}
}
@media(min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}
    .col-lg-12{width:100%}
    .col-lg-11{width:91.66666666666666%}
    .col-lg-10{width:83.33333333333334%}
    .col-lg-9{width:75%}
    .col-lg-8{width:66.66666666666666%}
    .col-lg-7{width:58.333333333333336%}
    .col-lg-6{width:50%}
    .col-lg-5{width:41.66666666666667%}
    .col-lg-4{width:33.33333333333333%}
    .col-lg-3{width:25%}
    .col-lg-2{width:16.666666666666664%}
    .col-lg-1{width:8.333333333333332%}
    .col-lg-pull-12{right:100%}
    .col-lg-pull-11{right:91.66666666666666%}
    .col-lg-pull-10{right:83.33333333333334%}
    .col-lg-pull-9{right:75%}
    .col-lg-pull-8{right:66.66666666666666%}
    .col-lg-pull-7{right:58.333333333333336%}
    .col-lg-pull-6{right:50%}
    .col-lg-pull-5{right:41.66666666666667%}
    .col-lg-pull-4{right:33.33333333333333%}
    .col-lg-pull-3{right:25%}
    .col-lg-pull-2{right:16.666666666666664%}
    .col-lg-pull-1{right:8.333333333333332%}
    .col-lg-pull-0{right:0}
    .col-lg-push-12{left:100%}
    .col-lg-push-11{left:91.66666666666666%}
    .col-lg-push-10{left:83.33333333333334%}
    .col-lg-push-9{left:75%}
    .col-lg-push-8{left:66.66666666666666%}
    .col-lg-push-7{left:58.333333333333336%}
    .col-lg-push-6{left:50%}
    .col-lg-push-5{left:41.66666666666667%}
    .col-lg-push-4{left:33.33333333333333%}
    .col-lg-push-3{left:25%}
    .col-lg-push-2{left:16.666666666666664%}
    .col-lg-push-1{left:8.333333333333332%}
    .col-lg-push-0{left:0}
    .col-lg-offset-12{margin-left:100%}
    .col-lg-offset-11{margin-left:91.66666666666666%}
    .col-lg-offset-10{margin-left:83.33333333333334%}
    .col-lg-offset-9{margin-left:75%}
    .col-lg-offset-8{margin-left:66.66666666666666%}
    .col-lg-offset-7{margin-left:58.333333333333336%}
    .col-lg-offset-6{margin-left:50%}
    .col-lg-offset-5{margin-left:41.66666666666667%}
    .col-lg-offset-4{margin-left:33.33333333333333%}
    .col-lg-offset-3{margin-left:25%}
    .col-lg-offset-2{margin-left:16.666666666666664%}
    .col-lg-offset-1{margin-left:8.333333333333332%}
    .col-lg-offset-0{margin-left:0}
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}